<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="wrap">
    <header sec:authorize="isAuthenticated()">
        <div>
            Logged user: <span sec:authentication="name"><input sec:authorize="isAuthenticated()" type="button" value="Profile" onclick="window.location.href='/user'"/>#username</span>
            Roles: <span sec:authentication="principal.authorities">#roles</span>
        </div>
        <input type="button" value="Profile" onclick="window.location.href='/user'"/>
        <input sec:authorize="hasRole('ADMIN')" type="button" value="Admin page" onclick="window.location.href='/admin'">
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </header>
    <h1>Welcome to Index PAGE!</h1>
    <div sec:authorize="isAnonymous()">
        <input type="button" value="Authorisation" onclick="window.location.href='/user'">
    </div>
</div>
</body>
</html>