<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="username">Enter Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roles">Enter Roles: </label>
    <input type="text" th:field="*{roles}" id="roles"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
<form th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
</body>
</html>