<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin page</title>
</head>
<body>
<table class ="table table-dark">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Username</th>
    <th scope="col">Password</th>
    <th scope="col">Roles</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each ="user: ${adminPage}">
    <td th:text="${user.getId()}">
    <td th:text="${user.getUsername()}">
    <td th:text="${user.getPassword()}">
    <td th:text="${user.getRoles()}">
  </tbody>

</table>

<br/>
<hr/>
<form th:method="GET" th:action="@{admin/new}">

  <input type="submit" value="Create new user"/>

</form>
<form th:action="@{/logout}">
  <button type="submit">Logout</button>
</form>
</div>
</body>
</html>