<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="wrap">
    <header sec:authorize="isAuthenticated()">
        <div>
            Logged user: <span th:text="${myUser.getUsername()}">#username</span>
            Roles: <span th:text="${myUser.getAuthorities()}">#roles</span>
        </div>
        <input type="button" value="Profile" onclick="window.location.href='/user'"/>
        <input sec:authorize="hasRole('ADMIN')" type="button" value="Admin page" onclick="window.location.href='/admin'">
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </header>
    <h1>New user</h1>
    <div class="form-wrapper">
        <form th:method="POST" th:action="@{/admin/}" th:object="${user}">
            <div class="main_info">
                <label for="username">Username:</label>
                <br/>
                <input type="text" th:field="*{username}" id="username" required/>
                <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <label for="password">Password:</label>
                <br/>
                <input type="password" th:field="*{password}" id="password" required/>
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div>
                <label for="first_name">First name:</label>
                <br/>
                <input type="text" th:field="*{firstName}" id="first_name" required/>
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>
            <div>
                <label for="last_name">Last name:</label>
                <br/>
                <input type="text" th:field="*{lastName}" id="last_name" required/>
                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>
            <div>
                <label for="age">Age:</label>
                <br/>
                <input type="text" th:field="*{age}" id="age" required/>
                <div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            </div>
            <div>
                <label for="email">Email:</label>
                <br/>
                <input type="text" th:field="*{email}" id="email" required/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div>
                <label for="roles">Roles:</label>
                <br/>
                <input type="checkbox" id="roles" th:name="roles"
                       th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
                </input>
            </div>
            <input type="submit" value="create"/>
            <input type="button" value="escape" onclick="window.location.href='/admin'"/>
        </form>
    </div>
</div>
</body>
</html>