<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Profile page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="wrap">
    <header sec:authorize="isAuthenticated()">
        <div>
            Logged user: <span th:text="${myUser.getUsername()}">#username</span>
            Roles: <span th:text="${myUser.getAuthorities()}">#roles</span>
        </div>
        <input sec:authorize="hasRole('ADMIN')" type="button" value="Admin page" onclick="window.location.href='/admin'">
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </header>
    <h1><span sec:authentication="name">User</span>, welcome to spring boot security page!</h1>
    <div class="form-wrapper">
        <table>
            <tr>
                <td>Username</td>
                <td th:text="${myUser.getUsername()}">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>***** {Это пароль, он зашифрован}</td>
            </tr>
            <tr>
                <td>First name</td>
                <td th:text="${myUser.getFirstName()}">
            </tr>
            <tr>
                <td>Last name</td>
                <td th:text="${myUser.getLastName()}">
            </tr>
            <tr>
                <td>Age</td>
                <td th:text="${myUser.getAge()}">
            </tr>
            <tr>
                <td>Email</td>
                <td th:text="${myUser.getEmail()}">
            </tr>
        </table>
    </div>
</div>
</body>
</html>